.contacts-block {
    &__wrapper {
        display: flex;
        background-color: var(--color-bg);
        border: 1px solid var(--color-gray);

        @media (max-width: 1299px) {
            flex-wrap: wrap;
        }
    }

    &__phone {
        display: block;
        font-weight: 700;
        line-height: .75;
        white-space: nowrap;
        margin-bottom: 32px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__time {
        opacity: .8;
    }

    &__item {
        @media (max-width: 767px) {
            width: 100% !important;
        }

        &:first-child {
            padding: 56px;
        
            @media (max-width: 767px) {
                order: 0;
                padding: 24px 24px 48px;
            }
        }

        &:nth-child(2) {
            padding-top: 56px;

            @media (max-width: 767px) {
                order: 9;
                padding: 16px 24px 40px;
                border-top: 1px solid var(--color-gray);
            }
        }

        &:last-child {
            border-left: 1px solid var(--color-gray);
            padding: 40px;

            @media (max-width: 767px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                order: 1;
                padding: 24px 24px 30px;
                border-left: none;
                border-top: 1px solid var(--color-gray);
            }
        }

        .button {
            max-width: 100%;
            margin-top: 20px;

            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
    }

    &__messengers {
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
        }

        &-title {
            opacity: .8;
            margin-bottom: 24px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        &-items {
            display: flex;
            gap: 16px;

            @media (max-width: 767px) {
                margin-left: 42px;
            }
        }
    }

    input {
        background: none;
    }

    .col {
        margin-left: auto;

        @media (max-width: 767px) {
            margin-left: 0;
        }
    }

    .button-blue {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 23px 0;
    }

    &__mail {
        &-label {
            opacity: .8;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        &-text {
            font-weight: 600;
            margin-bottom: 22px;

            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
    }
}