-
    const team_items = [
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/1',
            name: 'Лукьянов Андрей Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/2',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/3',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
        {
            img: 'team/4',
            name: 'Лукьянов Павел Иванович',
            position: 'Исполниетльный директор компании IT-Resource',
        },
    ]