.team {
    padding-top: 160px;
    
    @media (max-width: 991px) {
        padding-top: 96px;
    }

    .caption {
        margin-top: 18px;

        @media (max-width: 991px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .title {
        max-width: 601px;
        margin-bottom: 44px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 96px;

        @media (max-width: 991px) {
            margin-bottom: 48px;
        }
    }

    .swiper-wrapper {
        flex-direction: row;
        gap: 40px 0;

        @media (max-width: 1199px) {
            width: 100% !important;
            flex-wrap: wrap;
            gap: 0;
            transform: translate3d(0, 0, 0) !important;
        }
    }

    .swiper-slide {
        height: calc((100% - 40px) / 2) !important;

        @media (max-width: 1199px) {
            height: auto;
        }
    }

    &__slider {
        &.not-slider {
            display: flex;
            flex-wrap: wrap;

            .team {
                &__slide {
                    width: 25%;
                }
            }
        }
    }

    &__slide {
        border: 1px solid var(--color-gray);
        background-color: var(--color-bg);
        padding: 32px 32px 48px;

        @media (max-width: 1199px) {
            width: 50% !important;
        }

        @media (max-width: 767px) {
            display: flex;
            width: 100% !important;
            padding: 32px 0;
            padding-right: 8px;
        }

        &-img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                min-width: 72px;
                width: 72px;
                min-height: 72px;
                height: 72px;
                margin-right: 24px;
                margin-bottom: 0;
            }
        }

        &-name {
            max-width: 234px;
            margin-bottom: 32px;
        }

        &-position {
            max-width: 226px;
        }
    }

    &__bottom {
        display: flex;
        min-height: 80px;
        margin-top: 80px;

        @media (max-width: 767px) {
            margin-top: 0;
        }

        .button {
            width: 66.6666%;
            padding: 31px 0;

            @media (max-width: 767px) {
                width: 100%;
                margin-top: 48px;
                padding: 24px 0;
            }
        }
    }

    .slider-navigation {
        max-width: fit-content;
        margin-left: auto;
        margin-right: 92px;

        @media (max-width: 1199px) {
            display: none;
        }

        &__arrow {
            width: 72px;
            height: 72px;
            border: 1px solid var(--color-gray);
            background-color: var(--color-white);

            svg {
                fill: var(--color-black);
            }

            &-next {
                transform: rotate(180deg);
            }
        }

        &__numbers {
            margin-left: 40px;
        }
    }
}