-
    const project_slides = [
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
        {
            img: '',
            title: 'Название проекта может быть в 2 строки',   
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            tags: [
                {
                    text: 'интеграции',
                },
                {
                    text: 'Клиентская база',
                },
                {
                    text: 'Воронки и отчеты',
                },
                {
                    text: 'Генератор продаж',
                },
            ],
        },
    ]