.projects {
    padding-top: 160px;

    .caption {
        margin-top: 18px;
    }

    .title {
        max-width: 601px;
        margin-bottom: 44px;
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 96px;
    }
}