.projects {
    padding-top: 160px;

    @media (max-width: 991px) {
        padding-top: 96px;
    }

    .caption {
        margin-top: 18px;

        @media (max-width: 991px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .title {
        max-width: 601px;
        margin-bottom: 44px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 96px;

        @media (max-width: 991px) {
            margin-bottom: 48px;
        }
    }

    .swiper-wrapper {
        flex-direction: row;
        gap: 40px 0;
    }

    .swiper-slide {
        height: calc((100% - 40px) / 2) !important;

        @media (max-width: 991px) {
            height: auto;
        }
    }

    &__slide {
        border: 1px solid var(--color-gray);
        background: var(--color-bg);

        &-top {
            display: flex;

            @media (max-width: 991px) {
                flex-direction: column;
            }
        }

        &-container {
            padding: 28px;
            border-bottom: 1px solid var(--color-gray);

            @media (max-width: 991px) {
                border: none;
                padding: 24px 24px 0;
                margin-bottom: 32px;
            }
        }

        &-content {
            // min-height: 273px;
            border-left: 1px solid var(--color-gray);
            padding: 32px 41px;

            @media (max-width: 991px) {
                padding: 0 24px 40px;
            }
        }

        &-title {
            margin-bottom: 48px;

            @media (max-width: 991px) {
                margin-bottom: 24px;
            }
        }

        &-text {
            max-width: 383px;
        }
    
        &-img {
            position: relative;
            max-width: fit-content;
            min-width: 58px;
            width: 58px;
            min-height: 58px;
            height: 58px;
            background-color: var(--color-green);
            border-radius: 100%;
            overflow: hidden;
        
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &-bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            border-top: 1px solid var(--color-gray);
            padding: 20px 24px;

            @media (max-width: 991px) {
                padding: 24px;
            }
        }
    }

    &__slider {
        &.not-slider {
            display: flex;
            flex-wrap: wrap;

            .projects {
                &__slide {
                    width: 50%;
                    transition: all .6s ease-in-out;
                    animation: showUp .6s ease-in-out;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        min-height: 80px;
        margin-top: 80px;

        @media (max-width: 767px) {
            display: none;
        }

        .button {
            width: 66.6666%;
            padding: 31px 0;
        }
    }

    .slider-navigation {
        max-width: fit-content;
        margin-left: auto;
        margin-right: 92px;

        @media (max-width: 767px) {
            display: none;
        }

        &__arrow {
            width: 72px;
            height: 72px;
            border: 1px solid var(--color-gray);
            background-color: var(--color-white);

            svg {
                fill: var(--color-black);
            }

            &-next {
                transform: rotate(180deg);
            }
        }

        &__numbers {
            margin-left: 40px;
        }
    }

    .button-show-more {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .button-white-more {
        display: none;

        @media (max-width: 767px) {
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            padding: 23px 0;
            margin-top: 71px;
        }
    }

    .pagination-bordered {
        display: none;

        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 14px;
            margin: 20px 0;
        }

        &-bullet {
            position: relative;
            width: 18px;
            height: 18px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                transform: translate(-50%, -50%);
                background-color: var(--color-blue);
                border-radius: 100%;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }

            circle {
                stroke-dasharray: 50.24px;
                stroke-dashoffset: 50.24px;
                stroke: var(--color-orange);
                // transition: stroke-dashoffset .8s ease-in-out;

                &.active {
                    animation: progress 3s linear;
                }
            }
        }
    }
}