section.projects
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Проекты
            .col-info
                .title.f-h2 Разработанные и внедренные проекты специалистами ООО IT-Resources
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.