include ../.././components/tag/tag.pug
include ../.././components/button/button.pug
include data.pug

section.projects
    .l-default
        .wrapper
            .caption.col-33.f-caps-14.js-animation-up Проекты
            .col-info
                .title.f-h2.js-animation-up Разработанные и внедренные проекты специалистами ООО IT-Resources
                .subtitle.f-body-big.js-animation-up Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .projects__slider.swiper.js-animation-up
            .swiper-wrapper
                each project_slide in project_slides
                    .projects__slide.swiper-slide
                        .projects__slide-top
                            .projects__slide-left 
                                .projects__slide-container 
                                    .projects__slide-img 
                                        +webp(['team-help/team-help'], 'jpg')
                            .projects__slide-content
                                .projects__slide-title.f-h3= project_slide.title
                                .projects__slide-text.f-body-small= project_slide.text
                        .projects__slide-bottom
                            each tag in project_slide.tags
                                +tag(tag.text)
        .projects__slider-pagination.pagination-bordered.js-animation-up
        +button({
            text: 'Перейти к проектам',
            tag: 'link',
            class: 'f-caps-14 button-white-more js-animation-up',
        })
        .projects__bottom.js-animation-up
            +button({
                text: 'показать больше проектов',
                class: 'f-caps-14 button-white-more button-show-more',
            })
            .slider-navigation.slider-navigation-2
                .slider-navigation__arrow.slider-navigation__arrow-prev
                    +svgMono('arrow-slider')
                .slider-navigation__arrow.slider-navigation__arrow-next
                    +svgMono('arrow-slider')
                .slider-navigation__numbers 
                    .slider-navigation__numbers-current.f-numbers-s 1
                    .slider-navigation__numbers-dash.f-numbers-s &nbsp;-&nbsp;
                    .slider-navigation__numbers-all.f-numbers-s 5
                