-
    const instruments_items = [
        {
            title: 'Web стек, клиентская сторона, frontend',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
        {
            title: 'Web стек, клиентская сторона, frontend',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
        {
            title: 'Web стек, клиентская сторона, frontend',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
        {
            title: 'Решения для мониторинга и тестирования',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
        {
            title: 'Базы данных, хранилища, реляционные и по SQL',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
        {
            title: 'Хостинг, виртуализация и контейнеризация',
            text: 'JavaScript, HTML5, CSS3, Vue.js, Angular, React, Next js, Redux, TypeScript, Mob-x, Charp gl, Svelte, Gatsby js, Single Page, Application (SPA), LESS, PostCSS, RequireJS, ES6 Modules,  Webpack, Gulp, Google Closure Computer, jQuery, Backbone.js, REST, WebSockets, SVG, Google Web Toolkit (GWT), Bootstrap',
            img: '',
        },
    ]