include ../.././components/button/button.pug

.popup.popup-cookies
    .popup-cookies__text.f-body-15 Этот сайт использует <a href="">cookies файлы</a>
    +button({
        text: 'Хорошо',
        class: 'f-caps-14 button-blue',
    })