.popup {
    &-cookies {
        position: fixed;
        top: 96px;
        left: 24px;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        background-color: var(--color-white);
        padding: 4px;
        padding-left: 32px;

        @media (max-width: 767px) {
            top: unset;
            left: 0;
            bottom: 20px;
            width: 100%;
            padding-left: 8px;
        }

        &__text {
            margin-right: 20px;
            padding: 16px 0;

            @media (max-width: 767px) {
                padding: 8px 0;                
            }
            
            a {
                color: var(--color-orange);
            }
        }

        .button {
            min-width: 107px;
        }
    }
}