-
    const letter_slides = [
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании1',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании2',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании3',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        },
        {
            img: 'team-help/team-help',
            photo: 'team-help/team-help',
            title: 'Название компании',
            text: 'Текст из благодарственного письма на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'Дизайн сайта',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'Програмирование',
                },
                {
                    text: 'Копирайтинг',
                },
            ],
        }
    ]