include ../.././components/button/button.pug

header.header
    .l-default
        .header__wrapper
            .col
                .header__logo 
                    +svgColor('logo')
                .header__logo.header__logo--fixed
                    +svgColor('logo-blue')
            include ../../../blocks/components/menu/menu.pug
            .col.header__contacts
                +button({
                    text: 'Связаться с нами',
                    class: 'menu__btn menu__btn--contact button-blue f-caps-14',
                })
                include ../../../blocks/components/contacts/contacts.pug