include ../.././components/form/form.pug
include data.pug

section.consultation 
    .l-default
        .consultation__items 
            .col-50
                .caption.col-33.f-caps-14.js-animation-up  Заявка
                .col-info
                    .title.f-h2.js-animation-up  Получить консультацию
                    .subtitle.f-body-big.js-animation-up  Оставьте контакты и наши менеджеры свяжутся с вами или звоните по номеру <a href="tel:+78001564585">+7 800 156 45 85</a>
                    .col-66
                        +form(form)
            .col-50.col-img.js-animation-up 
                +webp(['team-help/team-help'], 'jpg')