-
    const form = {
            inputs: [
                {
                    type: 'text',
                    name: 'name',
                    placeholder: 'Имя*',
                    required: true,
                    class: 'input--half',
                },
                {
                    type: 'phone',
                    name: 'phone',
                    placeholder: 'Телефон*',
                    required: true,
                    class: 'input--half',
                }
            ],
            button: {
                text: 'Оставить заявку',
                class: 'button-orange f-caps-12',
            },
        }