.dropdown {
    @include tr('all');
    background-color: var(--color-bg);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    overflow: hidden;

    &:first-child {
        border-top: 1px solid var(--color-gray);
    }

    &:hover {
        background-color: var(--color-white-2);
    }

    &-top {
        position: relative;
        z-index: 2;
        display: flex;
        border-bottom: 1px solid var(--color-gray);
        cursor: pointer;

        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 99px;
            min-height: 64px;
            border-right: 1px solid var(--color-gray);

            @media (max-width: 991px) {
                display: none;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            width: calc(50% - 99px);
            padding-left: 96px;

            @media (max-width: 991px) {
                width: calc(100% - 64px);
                padding: 24px 25px;
                padding-right: 12px;
            }
        }

        &__tags {
            width: calc(50% - 99px);
            padding: 16px 0;
            margin-left: auto;

            @media (max-width: 991px) {
                display: none;
            }

            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 4px 3px;
                max-width: 424px;
            }
        }

        &__tag {
            background: var(--color-white);
            border-radius: 86px;
            padding: 10px 20px;
        }

        &__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            min-width: 100px;
            font-size: 24px;
            border-left: 1px solid var(--color-gray);
            margin-left: auto;

            @media (max-width: 1199px) {
                width: 64px;
                min-width: 64px;
            }

            svg {
                @include tr('all');
                transform: rotate(-90deg);
                fill: var(--color-blue);
            }
        }
    }

    &-content {
        display: flex;
        width: 100%;
        height: 0;
        overflow: hidden;

        &__empty {
            min-width: 99px;

            @media (max-width: 1199px) {
                display: none;
            }

            &:not(:last-child) {
                border-right: 1px solid var(--color-gray);
            }

            &:last-child {
                border-left: 1px solid var(--color-gray);
            }
        }

        &__column {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: calc(50% - 99px);
            min-width: calc(50% - 99px);
            min-height: 343px;

            @media (max-width: 1199px) {
                width: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__video {
            position: relative;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            margin-left: auto;

            @media (max-width: 1199px) {
                display: none;
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__text {
            padding-left: 96px;
            padding-right: 59px;
            margin-bottom: 47px;

            @media (max-width: 991px) {
                padding: 24px 24px 0;
                margin-bottom: 72px;
            }
        }

        &__btns {
            display: flex;
            width: 100%;
            min-height: 64px;

            @media (max-width: 991px) {
                flex-direction: column;
            }

            .button {
                width: 50%;

                @media (max-width: 991px) {
                    width: 100%;
                    font-weight: 600;
                    padding: 24px 0;
                }

                &.button-white {
                    @media (max-width: 991px) {
                        color: var(--color-black);

                        &:hover {
                            color: var(--color-white);
                        }
                    }   
                }
            }
        }
    }

    .js-dropdown-content-item {
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    &.open {
        background-color: var(--color-white-2);
        
        .js-dropdown-content-item {
            opacity: 1;
            transform: translateY(0) !important;
        }

        .dropdown {
            &-top {
                &__arrow {
                    .ico-mono-arrow-slider {
                        transform: rotate(90deg);
                    }
                }
            }

            &-content {
                border-bottom: 1px solid var(--color-gray);
                
                &__video {
                    opacity: 1;
                }
            }
        }
    }
}