include .././button/button.pug

mixin dropdown(element)
    .dropdown
        .dropdown-top.js-dropdown
            .dropdown-top__number.f-numbers-2= element.number
            .dropdown-top__title.f-h3= element.title
            .dropdown-top__tags
                .dropdown-top__tags-wrapper
                    -if (element.tags)
                        each tag in element.tags
                            a.tag.f-caps-12(href=tag.href)= tag.text
            .dropdown-top__arrow    
                +svgMono('arrow-slider')
        .dropdown-content.js-dropdown-content
            .dropdown-content__empty
            .dropdown-content__column
                .dropdown-content__text.js-dropdown-content-item.f-body-15= element.text
                .dropdown-content__btns
                    +button({
                        text: 'подробнее об услуге',
                        class: 'button-white f-caps-14 js-dropdown-content-item',
                    })
                    +button({
                        text: 'Оставить заявку',
                        class: 'button-orange f-caps-14 js-dropdown-content-item',
                    })
            .dropdown-content__column.dropdown-content__video
                video(width="100%" height="100%" autoplay muted loop)
                    source(src="videos/test.mov" type="video/mov")
                    source(src="videos/test.mp4" type="video/mp4")
            .dropdown-content__empty