-
    const services_slides = [
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
        {
            title: 'Аутсорсинг поддержки ИТ-систем',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
        },
    ]