include data.pug

section.services
     .l-default
        .wrapper
            .caption.col-33.f-caps-14.js-animation-up Наши услуги
            .col-33.col-info
                .title.f-h2.js-animation-up Услуги по разработке и внедрению решений
                .subtitle.f-body-big.js-animation-up Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
            .col-33.col-navigation
                .slider-navigation.slider-navigation-2
                    .slider-navigation__arrows
                        .slider-navigation__arrow.slider-navigation__arrow-prev
                            +svgMono('arrow-slider')
                        .slider-navigation__arrow.slider-navigation__arrow-next
                            +svgMono('arrow-slider')
                    .slider-navigation__numbers 
                        .slider-navigation__numbers-current.f-numbers-s 1
                        .slider-navigation__numbers-dash.f-numbers-s &nbsp;&mdash;&nbsp;
                        .slider-navigation__numbers-all.f-numbers-s 5
        .services__slider.swiper.js-animation-up
            .swiper-wrapper 
                each services_slide, index in services_slides
                    .swiper-slide.services__slide
                        .services__slide-top
                            .services__slide-numbers
                                .services__slide-number.f-numbers-2
                                span &nbsp;&mdash;&nbsp;
                                .services__slide-count.f-numbers-2
                        .services__slide-content
                            .services__slide-title.f-h3= services_slide.title
                            .services__slide-text.f-body-s= services_slide.text
        .services__slider-progress.f-numbers-small.js-animation-up