-
    const menu = [
        {
            text: 'Бизнес решения',
            href: '',
        },
        {
            text: 'Услуги',
            href: '',
        },
        {
            text: 'Контакты',
            href: '',
        },
        {
            text: 'О компании',
            href: '',
        }
    ]