-
    const menu = [
        {
            text: 'Бизнес решения',
            href: '',
        },
        {
            text: 'Услуги',
            href: '',
        },
        {
            text: 'Контакты',
            href: '',
        },
        {
            text: 'О компании',
            href: '',
        }
    ]

    const menu_services = [
        {
            text: 'Заказная разработка',
            href: '',
        },
        {
            text: 'ERP-системы',
            href: '',
        },
        {
            text: 'CRM-системы',
            href: '',
        },
        {
            text: 'BI и BIG DATA',
            href: '',
        },
        {
            text: 'ECM-системы',
            href: '',
        },
        {
            text: 'Мобильные приложения',
            href: '',
        },
        {
            text: 'ITSM-решения',
            href: '',
        },
        {
            text: 'IT-инфраструктура',
            href: '',
        },
        {
            text: 'Интеграция систем и управления бизнес процессами',
            href: '',
        },
        {
            text: 'Аутсорсинг поддержки ИТ-систем',
            href: '',
        },
        {
            text: 'Информационная безопасность',
            href: '',
        },
        {
            text: 'E-commerce и омниканальность',
            href: '',
        },
    ]