include data.pug 
include .././button/button.pug

nav.menu
    .menu-col
        img(src="img/svg/header/back.svg", alt="")
    .menu__wrapper
        each menu_item in menu
            -if (menu_item.text === 'Услуги')
                .menu__btn-wrapper
                    +button({
                        text: menu_item.text,
                        class: 'menu__btn--services menu__btn button-blue f-caps-14',
                        arrow: true,
                    })
                include menu-services.pug
            - else 
                a.menu__item.f-caps-14(href=menu_item.href)= menu_item.text
    .menu-col
        img(src="img/svg/header/back-2.svg", alt="")
        
        