.menu {
    position: relative;
    display: flex;
    
    @media (max-width: 991px) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        background: var(--color-white);
        border: 1px solid var(--color-gray);
        margin: 0 auto;  
        padding: 0 44px;

        @media (max-width: 991px) {
            flex-direction: column;
            gap: 0;
            background: none;
            margin: 0;
            padding: 0;
        }
    }

    &__btn {
        @include tr('all');
        line-height: 1;
        font-weight: 600;
        min-height: 100%;
        white-space: nowrap;
        padding: 23px 28px;

        &-wrapper {
            position: relative;
            padding: 4px 0;

            @media (max-width: 991px) {
                width: 100%;
                text-align-last: left;
                padding: 0;

                .button {
                    position: relative;
                    width: 100%;
                    color: var(--color-black);
                    background-color: var(--color-white-2);
                    border-left: 1px solid var(--color-gray);
                    border-bottom: 1px solid var(--color-gray);
                    border-right: 1px solid var(--color-gray);
                    padding: 24px;

                    &:hover {
                        background-color: var(--color-white-2);
                    }

                    &.open {
                        .menu {
                            &__btn {
                                &-arrow {
                                    svg {
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-arrow {
            display: none;

            @media (max-width: 991px) {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 64px;
                height: 100%;
                font-size: 24px;
                border-left: 1px solid var(--color-gray);
                margin-left: auto;

                svg {
                    @include tr('all');
                    transform: rotate(-90deg);
                    fill: var(--color-blue);
                }
            }
        }

        // &:hover {
        //     color: var(--color-white);
        //     background: var(--color-blue);
        // }

        &--contact {
            flex: 1 1 auto;
        }
    }

    &__item {
        line-height: 1;
        font-weight: 600;
        white-space: nowrap;
        padding: 23px 0;

        @media (max-width: 991px) {
            width: 100%;
            background-color: var(--color-white-2);
            border-left: 1px solid var(--color-gray);
            border-bottom: 1px solid var(--color-gray);
            border-right: 1px solid var(--color-gray);
            padding: 24px;

            &:hover {
                color: var(--color-black);
                background-color: var(--color-bg);
            }
        }

        &:hover {
            color: var(--color-orange);
        }
    }

    &-col {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-services {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: z('header');
        width: 100%;
        overflow: hidden;

        @media (max-width: 991px) {
            position: static;
            top: unset;
            left: unset;
            background: var(--color-white-2);
            border-left: 1px solid var(--color-gray);
            border-right: 1px solid var(--color-gray);
            padding: 0 24px;

            &.open {
                padding-top: 32px;
                padding-bottom: 32px;
                border-bottom: 1px solid var(--color-gray);
            }
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            @include tr('all');
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 25%;
            border-bottom: 1px solid var(--color-gray);
            background: var(--color-white);
            padding: 24px 24px 32px;

            &:not(:first-of-type) {
                border-left: 1px solid var(--color-gray);
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--color-gray);
            }

            @media (max-width: 1199px) {
                width: 33.3333%;
            }

            @media (max-width: 991px) {
                width: 100%;
                border: none;
                background: unset;
                padding: 0;
                margin-bottom: 32px;
            }

            &:hover {
                background-color: var(--color-bg);
            }

            &-index {
                color: rgba(#1F2A56, .5);
                margin-bottom: 40px;

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        &.open {
            .js-header-menu-item {
                opacity: 1;
                transform: translateY(0);
            }
        }
    
        .js-header-menu-item {
            opacity: 0;
            transform: translateY(20px);
            transition: all .4s ease-in-out;
        }
    }

    &-col {
        position: relative;

        @media (max-width: 1199px) {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}