.menu {
    position: relative;
    display: flex;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        background: var(--color-white);
        margin: 0 auto;  
        padding: 0 44px;
    }

    &__btn {
        @include tr('all');
        line-height: 1;
        font-weight: 600;
        min-height: 100%;
        white-space: nowrap;
        padding: 19px 28px;

        &-wrapper {
            padding: 4px 0;
        }
   
        &:hover {
            color: var(--color-white);
            background: var(--color-blue);
        }

        &--contact {
            flex: 1 1 auto;
        }
    }

    &__item {
        font-weight: 600;
        white-space: nowrap;
        padding: 19px 0;

        &:hover {
            color: var(--color-orange);
        }
    }

    &-col {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-services {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: z('header');
        width: 100%;
        display: none;

        &.open {
            display: flex;
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            @include tr('all');
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 25%;
            border: 1px solid var(--color-gray);
            background: var(--color-white);
            padding: 24px 24px 32px;

            &:hover {
                background-color: var(--color-bg);
            }

            &-index {
                margin-bottom: 40px;
            }
        }
    }

    &-col {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}