.menu-services.js-header-menu
    .menu-services__wrapper
        each menu_services_item, index in menu_services
            a.menu-services__item(href=menu_services_item.href)
                - const id = index < 10 ? `0${index + 1}` : index + 1;
                    .menu-services__item-index.f-numbers-s.js-header-menu-item= id
                .menu-services__item-text.f-body-15.js-header-menu-item= menu_services_item.text
        
        