mixin button(element)

    - if (element.tag !== 'link')
        button.button(type=element.type class=element.class)= element.text
    - else 
        a.button(type=element.type href=element.href class=element.class)= element.text 