.form {
    display: flex;
    flex-wrap: wrap;

    .input {
        width: 100%;
        font-family: $body_font;
        border-right: none;

        &--half {
            width: 50%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    .select {
        font-family: $body_font;
        margin-bottom: 16px;
    }

    .button {
        width: 100%;
        padding: 26px 0;
        margin-top: 24px;
    }

    &__privacy {
        color: var(--color-blue-50);
        font-family: $body_font;
        margin-top: 24px;
    }
}