-
    const about_items = [
        {
            title: 'Ведущие программисты',
            count: '8 человек',
        },
        {
            title: 'Архитекторы',
            count: '24 человека',
        },
        {
            title: 'Бизнес-аналитики',
            count: '8 человек',
        },
        {
            title: 'Руководители проектов',
            count: '8 человек',
        },
    ]