section.contacts
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Контакты
            .col-info
                .title.f-h2 Заголовок блока про контакты находится в разработке
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .contacts__items 
            .col-50
                .contacts__info
                    .caption.f-caps-14 Менеджер проектов
                    a.phone.f-numbers-big(href="tel:+78001564585") +7 800 156 45 85
                    .contacts__info-time.f-body-15 8:00 — 20:00 по Московскому времени
                    .contacts__info-columns
                        .contacts__info-column
                            .contacts__info-caption.f-body-15 Мессенджеры
                            .contacts__info-messengers
                                a.contacts__info-messenger(href="") 
                                    img(src="img/svg/telegram.svg", alt="")
                                a.contacts__info-messenger(href="") 
                                    img(src="img/svg/whatsapp.svg", alt="")
                                a.contacts__info-messenger(href="") 
                                    img(src="img/svg/viber.svg", alt="")
                        .contacts__info-column
                            .contacts__info-caption.f-body-15 Email
                            a.contacts__info-email.f-body-18(href="mailto:hello@IT-RS.com") hello@IT-RS.com
            .col-50.col-img
                +webp(['team-help/team-help'], 'jpg')