.tag {
    max-width: fit-content;
    color: var(--color-blue-80);
    background: var(--color-white);
    border-radius: 86px;
    padding: 10px 20px;

    @media (max-width: 1199px) {
        padding: 8px 16px;
    }
}