-
    const contacts_header = [
        {
            text: 'Viber',
            icon: 'viber',
            class: 'viber',
        },
        {
            text: 'Telegram',
            icon: 'telegram',
            class: 'telegram',
        },
        {
            text: 'What’sApp',
            icon: 'whatsapp',
            class: 'whatsapp',
        },
    ]