extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Главная"

block content
    include ../blocks/modules/loader/loader.pug
    include ../blocks/modules/header/header.pug
    main.main
      include ../blocks/modules/main-top/main-top.pug
      include ../blocks/modules/experience/experience.pug
      include ../blocks/modules/stack/stack.pug
      include ../blocks/modules/team-help/team-help.pug
      include ../blocks/modules/services/services.pug
      include ../blocks/modules/about/about.pug
      include ../blocks/modules/instruments/instruments.pug
      include ../blocks/modules/projects/projects.pug
      include ../blocks/modules/contacts/contacts.pug
    include ../blocks/modules/footer/footer.pug

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")
  script(defer src="js/main_page.js")