-
    const experience_items = [
        {
            number: '<div class="number">500 000 000</div>',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества сейчас находится в разработке',
            class: 'col-66 col-mr',
            bg: '.././img/experience/bg-1',
        },
        {
            number: '<div class="number">5+</div> млн',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-33',
        },
        {
            number: '<div class="number">10</div> лет',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-33 col-mr',
        },
        {
            number: 'от <div class="number">3х</div> лет',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-66',
            bg: '.././img/experience/bg-2',
        }
    ]