-
    const experience_items = [
        {
            number: '500 000 000',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества сейчас находится в разработке',
            class: 'col-66 col-mr',
            bg: '.././img/experience/bg-1',
        },
        {
            number: '5+ млн',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-33',
        },
        {
            number: '10 лет',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-33 col-mr',
        },
        {
            number: 'от 3х лет',
            text: 'Текст преимущества сейчас находится в разработке. Текст преимущества',
            class: 'col-66',
            bg: '.././img/experience/bg-2',
        }
    ]