.experience {
    padding-top: 160px;

    @media (max-width: 1199px) {
        padding-top: 80px;
    }

    @media (max-width: 767px) {
        padding-top: 96px;
    }

    .title {
        margin-bottom: 24px;

        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }

    .caption {
        margin-top: 26px;

        @media (max-width: 767px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .wrapper {
        margin-bottom: 64px;

        @media (max-width: 767px) {
            margin-bottom: 48px;
        }
    }

    .subtitle {
        max-width: 391px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 0;

        @media (max-width: 767px) {
            gap: 16px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 332px;
        background-color: var(--color-white);
        padding: 24px 32px 48px 32px; 

        @media (max-width: 991px) {
            width: calc(50% - 8px) !important;
            min-width: calc(50% - 8px) !important;
        }

        @media (max-width: 767px) {
            width: 100% !important;
            min-height: 0;
            color: var(--color-black) !important;
            background-image: none !important;
            padding: 24px 16px;

            &:after {
                display: none;
            }
        }

        &:nth-child(2n) {
            margin-left: auto;
        }

        &.col-66 {
            position: relative;
            width: 66.6666%;
            min-width: 66.6666%;
            color: var(--color-white);

            &.col-mr {
                width: calc(66.6666% - 8px);
                min-width: calc(66.6666% - 8px);
                margin-right: 8px;
            }


            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: var(--color-blue);
                opacity: .6;
            }
        }

        &.col-33 {
            border: 1px solid var(--color-gray);
            
            @media (max-width: 1199px) {
                width: 33.3333%;
                min-width: 33.3333%;
            }

            &.col-mr {
                width: calc(33.3333% - 8px);
                min-width: calc(33.3333% - 8px);
                margin-right: 8px;
            }
        }

        &-number, &-text {
            position: relative;
            z-index: 2;
        }

        &-number {
            display: flex;
            align-items: flex-end;
            max-width: fit-content;
            gap: 0 16px;
            overflow: hidden;
            line-height: 1 !important;
            white-space: nowrap;

            @media (max-width: 767px) {
                gap: 0 4px;
            }

            .number {
                position: relative;
                display: flex;
                height: 96px;
                min-height: 96px;
                overflow: hidden;
                transform: translateY(0) !important;
                
                @media (max-width: 991px) {
                    height: 48px;
                    min-height: 48px;
                }
            }

            .numbers-wrapper {
                display: inline-block;
                text-align: center;
            }
        }

        &-text {
            padding-top: 16px;

            span {
                display: block;
                max-width: 519px;
            }

            @media (max-width: 767px) {
                border-top: none;
                padding-top: 0;
                margin-top: 48px;
            }
        }
    }

    .col-66 {
        .experience {
            &__item {
                &-text {
                    @media (min-width: 768px) {
                        border-top: 1px solid rgba(#FFFFFF, .5);
                    }
                }
            }
        }
    }

    .col-33 {
        .experience {
            &__item {
                &-text {
                    @media (min-width: 768px) {
                        border-top: 1px solid rgba(#1F2A56, .15);
                    }
                }
            }
        }
    }
}