.select {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--color-bg);

    &__chosen {
        color: var(--color-blue-80);
    }

    &__top {
        display: flex;
        border: 1px solid var(--color-gray);
        border-right: none;
        cursor: pointer;
        padding: 20px;
        padding-left: 24px;

        &-arrow {
            @include tr('all');
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            transform: rotate(0);
            margin-left: auto;
        }
    }

    &__options {
        @include tr('all');
        position: absolute;
        top: 100%;
        z-index: 1;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        border: 1px solid var(--color-gray);
        background-color: var(--color-bg);
        border-right: none;
        border-top: none;

        &::-webkit-scrollbar {
            width: 2px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: none;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: var(--color-blue);
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: var(--color-blue);
        }
    }

    &__option {
        @include tr('all');
        position: relative;
        padding-left: 24px;
        opacity: 0;
        transform: translateY(20px);
        color: var(--color-blue-80);

        &:hover {
            color: var(--color-orange);
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
        }
    }

    &.open {
        .select {
            &__top {
                &-arrow {
                    transform: rotate(180deg);
                }
            }
            &__options {
                padding: 24px 0 11px;
                max-height: 232px;
                overflow: auto;
            }

            &__option {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}