mixin select(element)
    .select
        .select__top
            .select__chosen= element.chosen
            .select__top-arrow 
                +svgColor('direction-down-blue')
        .select__options.open
            each element_option in element.options
                .select__option
                    input(type="radio" value=element_option name=element.name)
                    .select__option-text= element_option