-
    const stages_slides = [
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
        {
            title: 'Заявка на разработку',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
        },
    ]