include data.pug

section.stages 
    .l-default 
        .wrapper
            .caption.col-33.f-caps-14 Этапы разработки
            .col-info
                .title.f-h2 Поможем вам пройти весь путь от первого шадо до результата
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .stages__wrapper 
            .stages__step.f-numbers-small Шаг 01
            .stages__step.f-numbers-small Шаг 02
            .stages__step.f-numbers-small Шаг 03
            .stages__slider.swiper 
                .swiper-wrapper 
                    each stages_slide, index in stages_slides
                        .stages__slide.swiper-slide   
                            .stages__slide-step.hidden  
                                .stages__slide-step--current!= `Шаг ${index + 1} <span>из 15</span>`  
                            .stages__slide-title.f-h3= stages_slide.title
                            .stages__slide-text.f-body-15= stages_slide.text
        .stages__bottom   
            +button({
                text: 'показать все шаги',
                class: 'f-caps-14 button-white-more button-show-more',
                href: '',
            })
            .slider-navigation.slider-navigation-2
                .slider-navigation__arrow.slider-navigation__arrow-prev
                    +svgMono('arrow-slider')
                .slider-navigation__arrow.slider-navigation__arrow-next
                    +svgMono('arrow-slider')
                .slider-navigation__numbers 
                    .slider-navigation__numbers-current.f-numbers-s 1
                    .slider-navigation__numbers-dash.f-numbers-s &nbsp;-&nbsp;
                    .slider-navigation__numbers-all.f-numbers-s 5