.stages {
    padding-top: 160px;

    @media (max-width: 991px) {
        padding-top: 96px;
    }

    .caption {
        margin-top: 18px;

        @media (max-width: 991px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .title {
        max-width: 636px;
        margin-bottom: 32px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 40px;

        @media (max-width: 991px) {
            margin-bottom: 48px;
        }
    }

    &__wrapper {
        overflow: hidden;
        padding: 24px 0;
    }

    &__slide {
        position: relative;
        display: flex;
        padding: 27px 0 49px;
        border-top: 1px solid var(--color-gray);

        @media (max-width: 991px) {
            border-top: none;
        }

        @media (max-width: 767px) {
            align-items: center;
            flex-wrap: wrap;
            padding: 24px 0 0;
        }

        &-progress {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 96px;
            height: 96px;
            transform: translate(-50%, -50%);
            display: none;

            @media (max-width: 991px) {
                display: flex;
            }

            svg {
                transform: rotate(-90deg);
            }

            circle {
                stroke-dasharray: var(--color-gray);
                transition: all .8s ease-in-out;
            }

            .progress-bar {
                stroke: var(--color-orange);
                stroke-dasharray: 301.44px;
                stroke-dashoffset: 301.44px;
            }
        }

        &-title, &-text {
            width: 50%;
        }

        &-title {
            font-weight: 600;

            @media (max-width: 991px) {
                margin-bottom: 48px;
                margin-left: 24px;
            }
        }

        &-text {
            max-width: 550px;

            @media (max-width: 991px) {
                width: 100%;
                max-width: 100%;
                margin-top: 32px;
            }
        }

        &-step {
            position: absolute;
            top: -21px;
            z-index: 2;
            height: 42px;
            white-space: nowrap;
            background-color: var(--color-white);
            transition: all .8s ease-in-out;
            padding: 16px 24px;

            @media (max-width: 991px) {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: unset;
                text-align: center;
                padding: 0 32px;
            }

            &--current {
                span {
                    display: none;

                    @media (max-width: 991px) {
                        display: block;
                    }
                }
            }
        }
    }

    .swiper {
        overflow: visible;
    }

    .swiper-wrapper {
        flex-direction: row;
    }

    .swiper-slide {
        height: auto;
        margin-top: 0 !important;
    }

    &__wrapper {
        position: relative;
    }

    &__step {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 42px;
        white-space: nowrap;
        background-color: var(--color-white);
        transition: all .8s ease-in-out;
        padding: 0 24px;

        @media (max-width: 991px) {
            display: none;
        }

        &:first-child {
            top: 0px;
        }
    }

    &__bottom {
        display: flex;
        min-height: 80px;
        margin-top: 20px;

        @media (max-width: 991px) {
            min-height: 0;
            margin-top: 48px;
        }

        .button {
            width: 66.6666%;
            text-align: center;
            padding: 31px 0;

            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    .col-navigation {
        margin-left: auto;

        @media (max-width: 991px) {
            margin: 0 auto;
        }
    }

    .slider-navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__arrows {
            display: flex;
        }

        &__arrow {
            width: 72px;
            height: 72px;
            border: 1px solid var(--color-gray);
            background-color: var(--color-white);

            @media (max-width: 991px) {
                width: 48px;
                height: 48px;
            }

            svg {
                fill: var(--color-black);
            }

            &-next {
                transform: rotate(180deg);
                border-right: none;
            }
        }

        &__numbers {
            position: absolute;
            left: calc(50% + 144px - 40px);
            transform: translateX(calc(-(50% + 144px - 40px)));

            @media (max-width: 991px) {
                left: calc(50% + 96px - 24px);
                transform: translateX(calc(-(50% + 96px - 24px)));
            }
        }
    }
}