include data.pug

section.stages 
    .l-default 
        .wrapper
            .caption.col-33.f-caps-14.js-animation-up Этапы разработки
            .col-info
                .title.f-h2.js-animation-up Поможем вам пройти весь путь от первого шадо до результата
                .subtitle.f-body-big.js-animation-up Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .stages__wrapper.js-animation-up 
            .stages__step.f-numbers-s Шаг 01
            .stages__step.f-numbers-s Шаг 02
            .stages__step.f-numbers-s Шаг 03
            .stages__slider.swiper 
                .swiper-wrapper 
                    each stages_slide, index in stages_slides
                        .stages__slide.swiper-slide   
                            .stages__slide-step.hidden
                                .stages__slide-step--current!= `Шаг ${index + 1} <span>из 15</span>`
                                .stages__slide-progress 
                                    <svg width="100%" height="100%" viewBox="0 0 100 100">
                                        <circle r="48" cx="50" cy="50" fill="transparent" stroke="#e0e0e0" stroke-width="3px"></circle>
                                        <circle class="progress-bar" r="48" cx="50" cy="50" fill="transparent" stroke="#e0e0e0" stroke-width="3px" ></circle>
                                    </svg>
                            .stages__slide-title.f-h3= stages_slide.title
                            .stages__slide-text.f-body-15= stages_slide.text
        .stages__bottom.js-animation-up   
            +button({
                text: 'показать все шаги',
                class: 'f-caps-14 button-white-more button-show-more',
                href: '',
            })
            .col-33.col-navigation
                .slider-navigation.slider-navigation-2
                    .slider-navigation__arrows
                        .slider-navigation__arrow.slider-navigation__arrow-prev
                            +svgMono('arrow-slider')
                        .slider-navigation__arrow.slider-navigation__arrow-next
                            +svgMono('arrow-slider')
                    .slider-navigation__numbers 
                        .slider-navigation__numbers-current.f-numbers-s 1
                        .slider-navigation__numbers-dash.f-numbers-s &nbsp;-&nbsp;
                        .slider-navigation__numbers-all.f-numbers-s 5