.stages {
    padding-top: 160px;

    .caption {
        margin-top: 18px;
    }

    .title {
        max-width: 636px;
        margin-bottom: 46px;
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 72px;
    }

    &__slide {
        position: relative;
        display: flex;
        padding: 66px 0 99px;
        border-top: 1px solid var(--color-gray);
        
        &-title, &-text {
            width: 50%;
        }

        &-text {
            max-width: 410px;
        }

        &-step {
            position: absolute;
            top: -21px;
            z-index: 2;
            height: 42px;
            white-space: nowrap;
            background-color: var(--color-white);
            transition: all .8s ease-in-out;
            padding: 16px 24px;
        }
    }

    .swiper-wrapper {
        flex-direction: row;
    }

    .swiper-slide {
        height: auto;
        margin-top: 0 !important;
    }

    &__wrapper {
        position: relative;
    }

    &__step {
        position: absolute;
        z-index: 2;
        height: 42px;
        white-space: nowrap;
        background-color: var(--color-white);
        transition: all .8s ease-in-out;
        padding: 16px 24px;

        &:first-child {
            top: -21px;
        }
    }

    &__bottom {
        display: flex;
        min-height: 80px;
        margin-top: 94px;

        .button {
            width: 66.6666%;
            text-align: center;
            padding: 31px 0;
        }
    }

    .slider-navigation {
        max-width: fit-content;
        margin-left: auto;
        margin-right: 92px;

        &__arrow {
            width: 72px;
            height: 72px;
            border: 1px solid var(--color-gray);
            background-color: var(--color-white);

            svg {
                fill: var(--color-black);
            }

            &-next {
                transform: rotate(180deg);
            }
        }

        &__numbers {
            margin-left: 40px;
        }
    }
}