-
    const main_top_bottom_items = [
        {
            title: '2.4 млн',
            text: 'Текст преимущества сейчас в разработке',
        },
        {
            title: '15-30 дней',
            text: 'Минимальное время на выполнение вашей задачи',
        },
        {
            title: '1000 +',
            text: 'Успешно выполненных кейсов нашей командой',
        },
    ]