section.main-top-text
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Наши кейсы
            .col-info
                h1.title.f-h1 Заголовок про наши основные проекты в разработке
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.