include ../.././components/button/button.pug

section.main-top-text.main-top-text-contacts.js-animation-main
    .l-default
        .wrapper
            .caption.col-33.f-caps-14.js-animation-main-item  Контакты
            .col-info.js-animation-main-item 
                h1.title.f-h1 Заголовок блока про контакты находится в разработке
                .subtitle.f-body-big.js-animation-main-item  Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
