.main-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-height: 900px;
    color: var(--color-white);

    @media (max-width: 767px) {
        min-height: 709px;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
            object-fit: cover;
        }
    }

    .l-default {
        overflow: hidden;
    }

    .swiper-slide {
        @include tr('all');
        opacity: 0 !important;

        .main-top {
            &__slide {
                display: flex;
                
                &-title, &-subtitle {
                    opacity: 0;
                    transform: translateY(25px);
                    transition: all 1s ease-in-out;
                }
            }
        }

        &-active {
            opacity: 1 !important;

            .main-top {
                &__slide {
                    &-title, &-subtitle {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    &__slider {
        &-wrapper {
            width: calc(100% - 16.6666%);
            padding-right: 72px;

            @media (max-width: 1199px) {
                width: 100%;
                margin-bottom: 20px;
                padding-right: 0;
            }
        }
    }

    .lines {
        position: absolute;
        z-index: 1;
        width: 100%;
        padding: 24px 0;

        @media (max-width: 1199px) {
            display: none;
        }

        .l-default {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__item {
            opacity: 0;
            border-right: 1px solid var(--color-white-15);       
            border-left: 1px solid var(--color-white-15);       
            transition: opacity 1s ease-in-out;

            &-active {
                opacity: 1;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        margin-top: auto;
        margin-bottom: 53px;

        @media (max-width: 1199px) {
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 30px;
        }

        @media (max-width: 991px) {
            margin-bottom: 16px;
        }

        .col {
            margin-left: auto;

            @media (max-width: 1199px) {
                margin-left: 0;
            }

            @media (max-width: 991px) {
                width: 100%;
            }
        }

        .button {
            padding: 21px 0;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__slide {
        display: flex;
        align-items: flex-end;
        width: 100% !important;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }
        
        &-title {
            max-width: 696px;
            margin-right: 107px;

            @media (max-width: 991px) {
                margin-right: 0;
                margin-bottom: 32px;
            }
        }

        &-subtitle {
            @media (max-width: 991px) {
                margin-bottom: 32px;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--color-white-15);
        border-bottom: 1px solid var(--color-white-15);
        margin-bottom: 24px;

        @media (max-width: 1199px) {
            flex-direction: column-reverse;
            border-top: none;
        }

        @media (max-width: 767px) {
            display: none;
        }

        &-items {
            position: relative;
            display: flex;
            backdrop-filter: blur(10px);
        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media (max-width: 1199px) {
                width: auto;
                min-width: 0;
            }

            &:first-child {
                @media (max-width: 1199px) {
                    display: none;
                }
            }

            &:last-child {
                @media (max-width: 1199px) {
                    width: 300px;
                    border-left: 1px solid var(--color-white-15);
                    border-right: 1px solid var(--color-white-15);
                    border-bottom: 1px solid var(--color-white-15);
                    margin-left: auto;
                }

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        &-item {
            padding: 36px 31px;

            @media (max-width: 1199px) {
                padding: 24px;
            }
        
            &:not(:last-child) {
                border-right: 1px solid var(--color-white-15);
            }
        }

        &-number {
            margin-bottom: 56px;

            @media (max-width: 1199px) {
                margin-bottom: 24px;
            }
        }

        &-arrow {
            display: flex;
            width: 56px;
            max-width: fit-content;
            height: 56px;
            border-top: 1px solid var(--color-white-15, rgba(255, 255, 255, 0.15));
            border-right: 1px solid var(--color-white-15, rgba(255, 255, 255, 0.15));
            background: rgba(0, 0, 0, 0.15);
            cursor: pointer;
            padding: 15px 17px;
            margin-top: auto;

            svg {
                min-width: 24px;
            }
        }
    }

    &__pagination {
        position: static;
        bottom: 0;
        width: 100%;
        height: 1px !important;

        .swiper-pagination-progressbar-fill {
            background: var(--color-orange);
        }
    }

    .button {
        width: 100%;
        flex: 1 1 auto;
    }

    &-bg {
        position: relative;
        min-height: 900px;
        padding-bottom: 96px;

        @media (max-width: 767px) {
            min-height: 756px;
            padding-bottom: 16px;
        }

        .button {
            width: 16.6666%;
            max-width: 231px;
            padding: 23px 0;
            margin-left: 96px;

            @media (max-width: 767px) {
                width: 100%;
                max-width: 100%;
                padding: 23px 54px;
                margin-left: 0;
                margin-top: 48px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--color-blue);
            opacity: .4;
        }

        &__info  {
            max-width: 696px;
        
            .title {
                margin-bottom: 46px;

                @media (max-width: 767px) {
                    margin-bottom: 32px;
                }
            }
    
            .subtitle {
                max-width: 285px;
            }
        }
    
        &__wrapper {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    &-text {
        font-family: $body_font;
        padding-top: 184px;
        padding-bottom: 72px;

        @media (max-width: 1199px) {
            padding-top: 120px;
        }

        @media (max-width: 1199px) {
            margin-bottom: 80px;
        }

        .title {
            max-width: 695px;
            margin-bottom: 48px;

            @media (max-width: 1199px) {
                margin-bottom: 32px;
            }
        }

        .subtitle {
            max-width: 430px;
        }

        .button {
            display: flex;
            justify-content: center;
            width: 16.6666%;
            padding: 23px 0;
            margin-top: 40px;
            margin-left: 33.3333%;

            @media (max-width: 1199px) {
                margin-left: 0;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .caption {
            @media (max-width: 1199px) {
                margin-bottom: 20px;
            }
        }

        .js-animation-main-item {
            opacity: 0;
            transform: translateY(50px);
            transition: all .8s ease-in-out;
    
            &-active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &-policy {
        .title {
            margin-bottom: 0;
        }

        p {
            margin-top: 56px;
            margin-bottom: 32px;
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 24px;

                    @media (max-width: 1199px) {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }

    .js-animation-main-item {
        opacity: 0;
        transform: translateY(50px);
        transition: all .4s ease-in-out;

        &-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .pagination-bordered {
        display: none;

        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 14px;
            margin: 20px 0;
        }

        &-bullet {
            position: relative;
            width: 18px;
            height: 18px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                transform: translate(-50%, -50%);
                background-color: var(--color-white);
                border-radius: 100%;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }

            circle {
                stroke-dasharray: 50.24px;
                stroke-dashoffset: 50.24px;
                stroke: var(--color-orange);

                &.active {
                    animation: progress 3s linear;
                }
            }
        }
    }

    .slider-navigation {
        &__numbers {
            &-current, &-dash, &-all {
                font-family: $primary_font;
                font-size: 12px;
            }
        }
    }
}