section.main-top-text.js-animation-main
    .l-default
        .wrapper
            .caption.col-33.f-caps-14.js-animation-main-item  Наши кейсы
            .col-info
                h1.title.f-h1.js-animation-main-item  Заголовок про наши основные проекты в разработке
                .subtitle.f-body-big.js-animation-main-item  Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.