include ../.././components/button/button.pug

section.main-top-text.main-top-policy
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Ошибка
            .col-info
                h1.title.f-h1 Условия передачи информации
                .col-info__text 
                    p Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:
                    ul 
                        li Осуществление клиентской поддержки
                        li Получения Пользователем информации о маркетинговых событиях
                        li Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.
                    p Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя/Покупателя такая как:
                    ul 
                        li Фамилия, Имя, Отчество
                        li Дата рождения
                        li Контактный телефон
                        li Адрес электронной почты
                        li Почтовый адрес
                    p Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства. Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
                    ul 
                        li По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
                        li Стратегическим партнёрам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объём персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.
                    p Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
        +button({
            text: 'На главную',
            class: 'button-orange f-caps-14',
            tag: 'link',
            href: '/',
        })