-
    const cases_items = [
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
        {
            title: 'Название проекта объем — 1 строка',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            href: '',
            bottom: [
                {
                    title: 'Продолжительность:',
                    text: '17 дней',
                },
                {
                    title: 'Задействовано:',
                    text: '20 человек',
                },
                {
                    title: 'Цифра:',
                    text: '88 888',
                },
            ],
            tags: [
                {
                    text: 'Тег заказной работы',
                },
                {
                    text: 'заказная работа 2',
                },
                {
                    text: 'Верстка',
                },
                {
                    text: 'дизайн',
                },
                {
                    text: 'ui/ux тестирование',
                },
            ],
        },
    ]