.contacts-docs
    .l-default
        .wrapper
            .caption.col-33.f-caps-14.js-animation-up Документы
            .col-info
                h1.title.f-h1.js-animation-up Заголовок блока в разработке, текст в 2 строки
                .subtitle.f-body-big.js-animation-up Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .contacts-docs__items
            a.contacts-docs__item(href="")
                .contacts-docs__item-number.f-numbers-s 01
                .contacts-docs__item-title.f-body-big Реквизиты компании
                .contacts-docs__item-weight.f-body-s PDF — 2.5 Mb
            a.contacts-docs__item(href="")
                .contacts-docs__item-number.f-numbers-s 02
                .contacts-docs__item-title.f-body-big Презентация компании
                .contacts-docs__item-weight.f-body-s PDF — 2.5 Mb
            a.contacts-docs__item(href="")
                .contacts-docs__item-number.f-numbers-s 03
                .contacts-docs__item-title.f-body-big Логотип компании
                .contacts-docs__item-weight.f-body-s PDF — 2.5 Mb
            a.contacts-docs__item(href="")
                .contacts-docs__item-number.f-numbers-s 04
                .contacts-docs__item-title.f-body-big Название документа
                .contacts-docs__item-weight.f-body-s PDF — 2.5 Mb