-
    const documents_slides = [
        {
            title: 'Смета',
            href: '',
        },
        {
            title: 'Договор услуг',
            href: '',
        },
        {
            title: 'Фич-лист',
            href: '',
        },
        {
            title: 'Название документа в 2 строки',
            href: '',
        },
    ]