include data.pug

section.documents
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Рабочие документы
            .col-info
                .title.f-h2 Заголовок про документы, которые мы используем для наилучшего результата
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .documents__slider.swiper 
            .swiper-wrapper 
                each documents_slide in documents_slides 
                    .documents__slide.swiper-slide
                        .documents__slide-id
                            .documents__slide-current.f-numbers-small
                            .documents__slide-all.f-numbers-small
                        .documents__slide-title.f-body-big= documents_slide.title
                        a.documents__slide-link.f-body-small(href=documents_slide.href) Смотреть пример
        .documents__slider--reverse.swiper 
            .swiper-wrapper 
                each documents_slide in documents_slides 
                    .documents__slide.swiper-slide
                        .documents__slide-id
                            .documents__slide-current.f-numbers-small
                            .documents__slide-all.f-numbers-small
                        .documents__slide-title.f-body-big= documents_slide.title
                        a.documents__slide-link.f-body-small(href=documents_slide.href) Смотреть пример