.documents {
    padding-top: 160px;

    .title {
        max-width: 569px;
        margin-bottom: 44px;
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 72px;
    }
}