include data.pug

section.documents
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Рабочие документы
            .col-info
                .title.f-h2 Заголовок про документы, которые мы используем для наилучшего результата
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .documents__slider
            each documents_slide in documents_slides 
                .col.documents__slide.documents__slide--straight
                    .documents__slide__wrapper
                        .documents__slide-id 01 - 15
                            .documents__slide-current.f-numbers-small
                            .documents__slide-all.f-numbers-small
                        .documents__slide-title.f-body-big= documents_slide.title
                        a.documents__slide-link.f-body-small(href=documents_slide.href) Смотреть пример
        .documents__slider--reverse
            each documents_slide in documents_slides 
                .col.documents__slide.documents__slide--reverse
                    .documents__slide__wrapper
                        .documents__slide-id
                            .documents__slide-current.f-numbers-small
                            .documents__slide-all.f-numbers-small
                        .documents__slide-title.f-body-big= documents_slide.title
                        a.documents__slide-link.f-body-small(href=documents_slide.href) Смотреть пример