section.documents
    .l-default
        .wrapper
            .caption.col-33.f-caps-14 Рабочие документы
            .col-info
                .title.f-h2 Заголовок про документы, которые мы используем для наилучшего результата
                .subtitle.f-body-big Текст подзаголовка находится в разработке. пишем релевантный текст этому блоку.
        .documents__slider.swiper 
            .swiper-wrapper 
                .documents__slide.swiper-slide
                    .documents__slide
                        .documents__slide-id
                            .documents__slide-current
                            .documents__slide-all
                        .documents__slide-title
                        a.documents__slide-link(href="") 
        .documents__slider-reverse.swiper 
            .swiper-wrapper 
                .documents__slide.swiper-slide
                    .documents__slide