.cost {
    padding-top: 166px;

    @media (max-width: 991px) {
        padding-top: 96px;
    }

    .caption {
        margin-top: 18px;
    
        @media (max-width: 991px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .title {
        max-width: 636px;
        margin-bottom: 46px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    .subtitle {
        max-width: 430px;
    }

    .wrapper {
        margin-bottom: 72px;

        @media (max-width: 991px) {
            margin-bottom: 48px;
        }
    }

    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 404px;
        background: var(--color-bg);
        border: 1px solid var(--color-gray);   

        &:not(:first-child) {
            border-left: none;
        }

        @media (max-width: 767px) {
            min-height: 263px;
        }

        &-title {
            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 120%;
                font-weight: 600;
            }
        }

        &-caption {
            @media (max-width: 767px) {
                opacity: .5;
            }
        }

        &-price {
            @media (max-width: 767px) {
                font-weight: 500;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 auto;
            padding: 40px 32px 32px;

            @media (max-width: 767px) {
                align-items: center;
                justify-content: center;
                padding: 21px 24px;
            }
        }

        &-back {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: 0;
            color: var(--color-white);
            transition: all .5s ease-in-out;
            padding: 40px 32px 32px;

            @media (max-width: 767px) {
                justify-content: flex-start;
            }

            .cost {
                &__slide {
                    &-text, &-title {
                        position: relative;
                        z-index: 2;
                        animation: show .4s ease; 
                    }

                    &-text {
                        margin-top: auto;

                        @media (max-width: 767px) {
                            max-width: 296px;
                            margin-top: 26px;
                        }
                    }
                }
            }

            img, video {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;  
                animation: show .4s ease; 

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        &:hover {
            .cost {
                &__slide {
                    &-back {
                        @media (min-width: 768px) {
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            padding: 20px 32px 24px;
            border-top: 1px solid var(--color-gray);

            @media (max-width: 767px) {
                padding: 0 24px 21px;
            }
        }

        &.show {
            .cost {
                &__slide {
                    &-back {
                        @media (max-width: 767px) {
                            opacity: 1;
                            z-index: 2;
                            color: var(--color-black);
                            background-color: var(--color-bg);
                            padding: 30px 24px;
                        }
                    }

                    &-button {
                        &--wrapper {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                }
            }
        }

        &-button {
            position: relative;
            z-index: 4;
            display: none;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid var(--color-gray);
            margin-left: auto;

            @media (max-width: 767px) {
                display: flex;
            }

            &--wrapper {
                @include tr('all');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 13px;
                height: 1px;
                background-color: #28303F;
                transform: translate(-50%, -50%);

                &:first-child {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }

                &:last-child {
                    opacity: .4;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        min-height: 80px;
        margin-top: 94px;

        @media (max-width: 767px) {
            min-height: 0;
            margin-top: 32px;
        }

        .button {
            width: 66.6666%;
            text-align: center;
            padding: 31px 0;

            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 23px 0;
                margin-left: 0;
            }
        }
    }

    &__slider {
        &.not-slider {
            display: flex;
            flex-wrap: wrap;

            .cost {
                &__slide {
                    width: 25%;
                    transition: all .6s ease-in-out;
                    animation: showUp .6s ease-in-out;
                    
                    @media (max-width: 991px) {
                        width: 33.3333%;
                    }

                    @media (max-width: 767px) {
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }

    .col-navigation {
        margin-left: auto;

        @media (max-width: 767px) {
            display: none;
        }
    }


    .slider-navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;    

        &__arrows {
            display: flex;
        }

        &__arrow {
            width: 72px;
            height: 72px;
            border: 1px solid var(--color-gray);
            background-color: var(--color-white);

            @media (max-width: 991px) {
                width: 48px;
                height: 48px;
            }

            svg {
                fill: var(--color-black);
            }

            &-next {
                transform: rotate(180deg);
                border-right: none;
            }
        }

        &__numbers {
            position: absolute;
            left: calc(50% + 144px - 40px);
            transform: translateX(calc(-(50% + 144px - 40px)));

            @media (max-width: 991px) {
                left: calc(50% + 96px - 24px);
                transform: translateX(calc(-(50% + 96px - 24px)));
            }
        }
    }
}