-
    const cost_slides = [
        {
            title: 'Web-design',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Back-End Development',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '2000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '3000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Web-design',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Back-End Development',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
            img: 'team-help/team-help',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '2000руб/час',
            video: 'videos/test',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '3000руб/час',
            video: 'videos/test',
        },
        {
            title: 'Web-design',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
        },
        {
            title: 'Back-End Development',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '1000руб/час',
            video: 'videos/test',
            video: 'videos/test',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '2000руб/час',
            video: 'videos/test',
        },
        {
            title: 'Название  услуги',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг.',
            price: '3000руб/час',
            video: 'videos/test',
        },
    ]