-
    const form = {
        inputs: [
            {
                type: 'phone',
                name: 'phone',
                placeholder: 'Телефон*',
                required: true,
            }
        ],
        button: {
            text: 'Оставить заявку',
            class: 'button-orange f-caps-12',
        },
        select: {
            chosen: 'Выберите нишу, в которой вам нужна помощь',
            options: [
                'E-commerce и омниканальность',
                'Мобильные приложения',
                'Информационная безопасность',
                'Разработка',
                'CRM-системы',
                'Аутсорсинг поддержки ИТ-систем'
            ],
            name: 'category',
        },
    }