include ../.././components/form/form.pug
include data.pug

section.team-help
    .l-default 
        .team-help__wrapper
            .col-33 
                .caption.f-caps-14 Помощь стартапам
                .title.f-h2 Команда IT-Resources поможет вам 
                .subtitle.f-body-big Полное документальное сопровождение! Ведем более 10 документов в ходе разработки.
                +form(form)
            .team-help__img 
                +webp(['team-help/team-help'], 'jpg')
