include ../.././components/form/form.pug
include data.pug

section.team-help
    .l-default 
        .team-help__wrapper
            .col-33 
                .caption.f-caps-14.js-animation-up Помощь стартапам
                .title.f-h2.js-animation-up Команда IT-Resources поможет вам 
                .subtitle.f-body-big.js-animation-up Полное документальное сопровождение! Ведем более 10 документов в ходе разработки.
                +form(form)
            .team-help__img.js-animation-up 
                +webp(['team-help/team-help'], 'jpg')
