-
    const footer_menu = [
        {
            text: 'Заказная разработка',
            href: '',
        },
        {
            text: 'ERP-системы',
            href: '',
        },
        {
            text: 'CRM-системы',
            href: '',
        },
        {
            text: 'BI и BIG DATA',
            href: '',
        },
        {
            text: 'ECM-системы',
            href: '',
        },
        {
            text: 'Аутсорсинг поддержки ИТ-систем',
            href: '',
        },
        {
            text: 'ITSM-решения',
            href: '',
        },
        {
            text: 'IT-инфраструктура',
            href: '',
        },
        {
            text: 'Мобильные приложения',
            href: '',
        },
        {
            text: 'Разработка 1С',
            href: '',
        },
        {
            text: 'E-commerce и омниканальность',
            href: '',
        },
        {
            text: 'Интеграция систем и управления бизнес процессами',
            href: '',
        },
    ]