.footer {
    position: relative;
    z-index: 5;
    background-color: var(--color-bg);

    &__form {
        width: 50%;
        padding-right: 7px;
    }

    &__top {
        border: 1px solid var(--color-gray);

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-title {
            width: 50%;
        }

        &-title {
            padding-left: 48px;
        }

        .form {
            display: flex;
            flex-wrap: nowrap;

            &__input {
                width: 100%;
                background: none;
                flex: 1 1 auto;
            }

            &__submit {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 88px;
                font-size: 48px;
                padding: 24px 0;
                padding-left: 32px; 
                border-left: 1px solid var(--color-gray);
            }
        }
    }
}