-
    const stack_items = [
        {
            number: '01',
            title: 'CRM Системы',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'интеграции',
                    href: '',
                },
                {
                    text: 'Клиентская база',
                    href: '',
                },
                {
                    text: 'Воронки и отчеты',
                    href: '',
                },
                {
                    text: 'Автоматизация продаж',
                    href: '',
                },
            ]
        },
        {
            number: '02',
            title: 'Заказная работа',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'интеграции',
                    href: '',
                },
                {
                    text: 'Клиентская база',
                    href: '',
                },
                {
                    text: 'Воронки и отчеты',
                    href: '',
                },
                {
                    text: 'Автоматизация продаж',
                    href: '',
                },
            ]
        },
        {
            number: '03',
            title: 'Аутсорсинг',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'интеграции',
                    href: '',
                },
                {
                    text: 'Клиентская база',
                    href: '',
                },
                {
                    text: 'Воронки и отчеты',
                    href: '',
                },
                {
                    text: 'Автоматизация продаж',
                    href: '',
                },
            ]
        },
        {
            number: '04',
            title: 'Разработка 1С',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'интеграции',
                    href: '',
                },
                {
                    text: 'Клиентская база',
                    href: '',
                },
                {
                    text: 'Воронки и отчеты',
                    href: '',
                },
                {
                    text: 'Автоматизация продаж',
                    href: '',
                },
            ]
        },
        {
            number: '05',
            title: 'Омниканальные решения',
            text: 'Текст на данный момент находится в разработке — это бесплатная альтернатива банковскому терминалу. Вы платите только комиссию за эквайринг. Предлагайте клиентам привычные способы оплаты по QR-коду.',
            tags: [
                {
                    text: 'интеграции',
                    href: '',
                },
                {
                    text: 'Клиентская база',
                    href: '',
                },
                {
                    text: 'Воронки и отчеты',
                    href: '',
                },
                {
                    text: 'Автоматизация продаж',
                    href: '',
                },
            ]
        },
    ]