.stack {
    padding-top: 168px;

    .title {
        max-width: 636px;
        margin-bottom: 36px;
    }

    .caption {
        margin-top: 20px;
    }

    .wrapper {
        margin-bottom: 72px;
    }

    .subtitle {
        max-width: 430px;
    }
}