.stack {
    padding-top: 162px;

    @media (max-width: 991px) {
        padding-top: 96px;
    }

    .title {
        max-width: 636px;
        margin-bottom: 24px;
    }

    .caption {
        margin-top: 31px;

        @media (max-width: 991px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .wrapper {
        margin-bottom: 64px;

        @media (max-width: 991px) {
            margin-bottom: 48px;
        }
    }

    .subtitle {
        max-width: 430px;
    }
}