:root {
    --color-bg: #F1F1F2;
    --color-gray: #E0E0E1;
    --color-white: #FFFFFF;
    --color-white-15: #FFFFFF26;
    --color-white-2: #F7F7F8;
    --color-blue: #1F2A56;
    --color-blue-80: #495275;
    --color-blue-50: #1F2A56;
    --color-orange: #F58E28;
}