.f {
    &-numbers {
        &-1 {
            font-family: $secondary_font;
            font-size: 36px;
            line-height: 44px;
        }

        &-2 {
            font-family: $secondary_font;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
        }

        &-s {
            font-family: $secondary_font;
            font-size: 16px;
            line-height: 19px;
        }
        
        &-big {
            font-family: $secondary_font;
            font-size: 96px;
            line-height: 116px;
        }
    }

    &-h1 {
        font-size: 46px;
        line-height: 54px;
        font-weight: 600;
    }

    &-h2 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }

    &-h3 {
        font-size: 19px;
        line-height: 26px;
        
        @media (min-width: 768px) {
            font-size: 28px;
            line-height: 34px;
        }
    }

    &-body {
        &-big {
            font-family: $body_font;
            font-size: 16px;
            line-height: 24px;

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 24px;
            }
        }

        &-15 {
            font-size: 15px;
            line-height: 22px;
        }

        &-s {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &-caps {
        &-14 {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
        }

        &-12 {
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    &-phone {
        font-family: $secondary_font;
        font-size: 48px;
        line-height: 1;
    }
}

.button {
    &-blue {
        @include tr('all');
        background: var(--color-blue);
        color: var(--color-white);

        &:hover {
            background: var(--color-orange);
        }
    }

    &-orange {
        @include tr('all');
        background: var(--color-orange);
        color: var(--color-white);

        &:hover {
            background: var(--color-blue);
        }
    }

    &-white {
        @include tr('all');
        background: var(--color-white);
        color: var(--color-orange);

        &:hover {
            color: var(--color-white);
            background: var(--color-blue);
        }

        &-more {
            @include tr('all');
            border: 1px solid var(--color-gray);
            background: var(--color-white-2);
            color: var(--color-orange);
    
            &:hover {
                background: var(--color-orange);
                color: var(--color-white);
            }
        }
    }
}

.col {
    width: 16.6666%;
    min-width: 16.6666%;

    @media (max-width: 1199px) {
        width: 33.3333%;
        min-width: 33.3333%;
    }

    &-25 {
        width: 25%;
        min-width: 25%;

        @media (max-width: 1199px) {
            width: 50%;
            min-width: 50%;
        }
    }

    &-33 {
        width: 33.3333%;
        min-width: 33.3333%;

        @media (max-width: 1199px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &-50 {
        width: 50%;
        min-width: 50%;

        @media (max-width: 1199px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &-66 {
        width: 66.6666%;
        min-width: 66.6666%;

        @media (max-width: 1199px) {
            width: 100%;
            min-width: 100%;
        }
    }

    &-img {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}