@font-face {
    font-family: "Akrobat";
    src: url("../fonts/akrobat/Akrobat.woff2") format("woff2"),
        url("../fonts/akrobat/Akrobat.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Akrobat";
    src: url("../fonts/akrobat/Akrobatsemibold.woff2") format("woff2"),
        url("../fonts/akrobat/Akrobatsemibold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Akrobat";
    src: url("../fonts/akrobat/Akrobatbold.woff2") format("woff2"),
        url("../fonts/akrobat/Akrobatbold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo2";
    src: url("../fonts/exo2/Exo2-Regular.woff2") format("woff2"),
        url("../fonts/exo2/Exo2-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Exo2";
    src: url("../fonts/exo2/Exo2-SemiBold.woff2") format("woff2"),
        url("../fonts/exo2/Exo2-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wix";
    src: url("../fonts/wix/WixMadeforDisplay-Regular.woff2") format("woff2"),
        url("../fonts/wix/WixMadeforDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Wix";
    src: url("../fonts/wix/WixMadeforDisplay-Bold.woff2") format("woff2"),
        url("../fonts/wix/WixMadeforDisplay-Bold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}