*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input,button,textarea{
    -webkit-appearance: none;
}

html, body {
    min-width: 320px;
    overflow-x: clip;
}

body {
    position: relative;
    font-family: $primary_font;
    font-style: normal;
    letter-spacing: normal;
    font-size: 16px;
    line-height: 120%;
    max-width: 1440px;
    min-width: 320px;
    height: 100%;
    min-height: 100vh;
    color: var(--color-blue);
    background: var(--color-bg);
    margin: 0 auto;

    &.on-scroll {
        margin-top: 76px;
    }
}

.wrapper {
    display: flex;

    @media (max-width: 1199px) {
        flex-direction: column;
    }
}

.caption {
    color: var(--color-orange);
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .l-default {
        display: flex;
    }

    &__item {
        border-left: 1px solid var(--color-gray);
        
        &:last-child {
            border-right: 1px solid var(--color-gray);
        }

        @media (max-width: 1199px) {
            &:first-child, &:nth-child(2), &:nth-child(3) {
                display: flex;
            }
        }
    
        @media (max-width: 767px) {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

.main {
    position: relative;
    flex: 1;
    z-index: z("l-default");
    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
}

.slider {
    &-navigation {
        display: flex;
        width: 100%;
        border-top: 1px solid var(--color-white-15);

        &__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            font-size: 24px;
            border-right: 1px solid var(--color-white-15);
            cursor: pointer;

            &:last-child {
                transform: rotate(180deg);
            }
        }

        &__numbers {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
        }

        &--white {
            color: var(--color-blue);
            background-color: var(--color-white);

            svg {
                fill: var(--color-blue);
            }

            .slider {
                &-navigation {
                    &__arrow {
                        border-right: 1px solid var(--color-gray);
                    }  
                }
            }
        }

        &-2 {
            align-items: center;
            .slider {
                &-navigation {
                    
                    &__numbers {
                        flex: 0;
                    }
                }
            }
        }
    }
}

.lazy, .swiper-lazy  {
    opacity: 0;
}

.loading,
.loaded,
[data-was-processed="true"],
[data-ll-status="entered"],
.swiper-lazy-loaded {
    @include tr(all);
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.show,
.show_btn {
    display: flex !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

textarea,
a,
button,
input[type="submit"] {
    @include tr(all);
    text-decoration: none;
    color: inherit;
    outline: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

button {
    background: none;
    border: none;
}

input,
video {
    outline: none;
    border: none;
}

.fancybox-content{
    padding: 0;
}

input, textarea {
    &::placeholder {
        @include tr("all");
    }
    &:focus {
        &::placeholder {
            opacity: 0 !important;
        } 
    }
}

img {
    display: block;
    max-width: 100%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-white);
    z-index: z("loader");
}

.l {
    &-default {
        position: relative;
        z-index: z("l-default");
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 24px; 

        @media (max-width: 991px) {
            padding: 0 16px;
        }
    }
}

ul {
    padding-left: 0;

    @media (min-width: 768px) {
        padding-left: 2px;
    }

    li {
        @media (min-width: 768px) {
            padding-left: 12px;
        }

        @media (max-width: 767px) {
            display: flex;

            &:before {
                content: '';
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 5px;
                max-width: 5px;
                min-height: 5px;
                max-height: 5px;
                border-radius: 100%;
                background-color: var(--color-orange);
                margin-top: 8px;
                margin-right: 8px;
                margin-left: -2px;
            }
        }

        &::marker {
            @media (min-width: 768px) {
                content: '|';
                color: var(--color-orange);
            }
        }
    }
}

input, textarea {
    border: none;
}

.fancybox-content {
    background: none;
    z-index: 99994;
}

.compensate-for-scrollbar {
    margin-right: auto !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    0% {
        stroke-dashoffset: 50.24px;
    }

    50% {
        stroke-dashoffset: 0;
    }
}

@keyframes progress-about {
    0% {
        stroke-dashoffset: 401.92px;
    }

    50% {
        stroke-dashoffset: 0;
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}